<div class="container-fluid">
    <div class="row light-blue background-image-div main-header-div">
        <div class="col main-header-div">

            <nav class="navbar navbar-expand-sm navbar-dark">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="/"><img class="img-fluid header-arche-logo" src="{{ base_path ~ directory }}/images/logos/arche_transparent_header.png" alt="Arche Logo"  /></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse arche-header-navbar" id="navbarNav">

                        {{ page.main_navigation }}

                    </div>
                </div>
            </nav>
            {% set currentUrl = path('<current>') %}
            {% set staticPagesArr = ['/browser/ressourcen-einreichen',
    '/browser/deposit-resources',
    '/browser/datenubergabevertrag',
    '/browser/deposition-agreement',
    '/browser/dateinamen-formate-metadaten',
    '/browser/filenames-formats-metadata',
    '/browser/de/faq',
    '/browser/faq',
    '/browser/weiterfuhrende-informationen',
    '/browser/further-guidance',
    '/browser/sammlungsstrategie',
    '/browser/collection-policy',
    '/browser/konservierungsrichtlinien',
    '/browser/preservation-policy',
    '/browser/datenschutzbestimmungen',
    '/browser/privacy-policy',
    '/browser/nutzungsbedingungen',
    '/browser/terms-of-use',
    '/browser/uber-arche',
    '/browser/about-arche',
    '/browser/technical-setup',
    '/browser/technischer-aufbau',
    '/browser/api-access',
    '/browser/api-zugriff',] %}
 
            {% if currentUrl is not empty and '/browser/discover' in currentUrl %}
                 {{ include( arche_theme_path ~ '/templates/layout/hero-no-search.html.twig' ) }}
            {% elseif  currentUrl in staticPagesArr  %}
                {{ include( arche_theme_path ~ '/templates/layout/hero-info-page.html.twig' ) }}
            {% else %}
                 {{ include( arche_theme_path ~ '/templates/layout/hero.html.twig' ) }}
            {% endif %}
        </div>
    </div>
</div>

