<main class="container-fluid cover home-hero-section h-100">

    <div class="row h-100 pb-5">
        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters character-man align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/dante_pc.png" alt=""  />

        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="text-center">
                <p class="section-header-title-small">{{ "SEARCH NOW"|trans }}</p>
                <h1 class="section-header-title">{{ "Discover Resources"|trans }}</h1>
                <span class="hero-small-text">{{ "Browse the wide range of resources in ARCHE"|trans }}
                </span>

            </div>
            <div class="pb-1 pt-2">
                <form class="d-flex" id="hero-smart-search-form">
                    <div class="input-group">
                        <input type="search" id="sm-hero-str" class="form-control hero-search-field" placeholder="{{ "Find resources"|trans }}..." aria-label="Search">
                        <button class="smartsearch-btn btn hero-search-button" type="submit"><img class="img-fluid" src="{{ base_path ~ directory }}/images/common/search_icon.png" alt="Search"  /></button>
                    </div>
                </form>
            </div>
            <div class="hero-home-logos">
                <a href="https://www.coretrustseal.org/wp-content/uploads/2021/07/20210709-ARCHE-CTS_Certification_2020-2022.pdf" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/CoreTrustSeal_32.png" /></a>
                <a href="http://hdl.handle.net/11372/DOC-105" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/clarin-b-centre-transparent_32.png" /></a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters character-woman align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/nora.png" alt=""  />

        </div>

    </div>

</main>