
{% set url_texts = {
    '/browser/ressourcen-einreichen': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/deposit-resources': 'Learn more about data submission',
    '/browser/deposition-process': 'Learn more about data submission',
    '/browser/datenuebergabevertrag': 'Rechtliche Vereinbarung zwischen ARCHE und Datengebenden',
    '/browser/deposition-agreement': 'Legal agreement between ARCHE and depositors',
    '/browser/dateinamen-formate-metadaten': 'Daten richtig vorbereiten',
    '/browser/filenames-formats-metadata': 'Prepare data correctly',
    '/browser/de/faq': 'Antworten auf häufig gestellte Fragen und Praxishinweise für Datengebende',
    '/browser/faq': 'Answers to frequently asked questions and practical tips for depositors',
    '/browser/weiterfuehrende-informationen': 'Zur Vertiefung',
    '/browser/further-guidance': 'For consolidation',
    '/browser/sammlungsstrategie': 'Sammlungsbereich, Evaluation und Speicherdauer',
    '/browser/collection-policy': 'Scope of collections, evaluation, and storage duration',
    '/browser/konservierungsrichtlinien': 'Archivierung, Wartung und Risikomanagement',
    '/browser/preservation-policy': 'Archiving, maintenance and risk management',
    '/browser/datenschutzbestimmungen': 'Schutzmaßnahmen für personenbezogene Daten',
    '/browser/privacy-policy': 'Protective measures for personal data',
    '/browser/nutzungsbedingungen': 'Bedingungen für die Hinterlegung, den Zugang und die Verwendung von Daten',
    '/browser/terms-of-use': 'Conditions for the deposit, access, and use of data',
    '/browser/ueber-arche': 'Erfahren Sie mehr über ARCHE',
    '/browser/about-arche': 'Learn more about ARCHE',
    '/browser/technical-setup': 'Software components, client libraries, dissemination services and storage procedures',
    '/browser/technischer-aufbau': 'Softwarekomponenten, Client-Bibliotheken, Verbreitungsservices und Speicherverfahren',
    '/browser/api-access': 'Interfaces for programmatic search and query of ARCHE data',
    '/browser/api-zugriff': 'Schnittstellen für die programmgesteuerte Suche und Abfrage der ARCHE-Daten',
    '/browser/de/weiterfuehrende-informationen': 'Zur Vertiefung',
    '/browser/de/einreichungsprozess': 'Einreichungsprozess',
    '/browser/einreichungsprozess': 'Einreichungsprozess',
    '/browser/de/dateinamen-formate-metadaten': 'Daten richtig vorbereiten',
    '/browser/de/datenuebergabevertrag': 'Rechtliche Vereinbarung zwischen ARCHE und Datengebenden',
    '/browser/de/ressourcen-einreichen': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/de/sammlungsstrategie': 'Sammlungsbereich, Evaluation und Speicherdauer',
    '/browser/de/collection-policy': 'Scope of collections, evaluation, and storage duration',
    '/browser/de/konservierungsrichtlinien': 'Archivierung, Wartung und Risikomanagement',
    '/browser/de/preservation-policy': 'Archiving, maintenance and risk management',
    '/browser/de/datenschutzbestimmungen': 'Schutzmaßnahmen für personenbezogene Daten',
    '/browser/de/privacy-policy': 'Protective measures for personal data',
    '/browser/de/nutzungsbedingungen': 'Bedingungen für die Hinterlegung, den Zugang und die Verwendung von Daten',
    '/browser/de/ueber-arche': 'Erfahren Sie mehr über ARCHE',
    '/browser/de/technischer-aufbau': 'Softwarekomponenten, Client-Bibliotheken, Verbreitungsservices und Speicherverfahren',
    '/browser/de/api-zugriff': 'Schnittstellen für die programmgesteuerte Suche und Abfrage der ARCHE-Daten',
} %}


{% set currentUrl = path('<current>') %}
{% set display_text = url_texts[currentUrl] | default('') %}


<main class="container-fluid cover pages-hero-section">

    <div class="row h-60">
        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters character-man align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/Dante_sit_pc.png" alt=""  />
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 hero-title-container">
            <div class="text-center">
                {% if currentUrl == '/browser/deposition-process' %}
                    <p class="section-header-title">{{ "Deposit Resources"|trans }}</p>
                {% else %}
                    <p class="section-header-title">{{ node.title.value }}</p>
                {% endif %}

                <span class="hero-small-text">{{ display_text }}</span>
            </div>
            <div class="pb-1 pt-2"></div>
            <div class="hero-home-logos">
                {% if currentUrl == '/browser/deposition-agreement' %}
                    <a href="#" target="_blank" class="btn btn-arche-blue">{{ "Download PDF"|trans }}</a>                    
                {% else %}   
                    <a href="https://www.coretrustseal.org/wp-content/uploads/2021/07/20210709-ARCHE-CTS_Certification_2020-2022.pdf" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/CoreTrustSeal_32.png" /></a>
                    <a href="http://hdl.handle.net/11372/DOC-105" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/clarin-b-centre-transparent_32.png" /></a>
                    {% endif %}
            </div>
        </div>

        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters align-self-end">

        </div>

    </div>

</main>