
{% set url_texts = {
    '/browser/ressourcen-einreichen': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/deposit-resources': 'Learn more about data submission',
    '/browser/deposition-process': 'Learn more about data submission',
    '/browser/datenuebergabevertrag': 'Rechtliche Vereinbarung zwischen ARCHE und Datengebenden',
    '/browser/deposition-agreement': 'Legal agreement between ARCHE and depositors',
    '/browser/dateinamen-formate-metadaten': 'Daten richtig vorbereiten',
    '/browser/filenames-formats-metadata': 'Prepare data correctly',
    '/browser/de/faq': 'Antworten auf häufig gestellte Fragen und Praxishinweise für Datengebende',
    '/browser/de/faq-de': 'Antworten auf häufig gestellte Fragen und Praxishinweise für Datengebende',
    '/browser/faq': 'Answers to frequently asked questions and practical tips for depositors',
    '/browser/weiterfuehrende-informationen': 'Zur Vertiefung',
    '/browser/further-guidance': 'For consolidation',
    '/browser/sammlungsstrategie': 'Sammlungsbereich, Evaluation und Speicherdauer',
    '/browser/collection-policy': 'Scope of collections, evaluation, and storage duration',
    '/browser/konservierungsrichtlinien': 'Archivierung, Wartung und Risikomanagement',
    '/browser/preservation-policy': 'Archiving, maintenance and risk management',
    '/browser/datenschutzbestimmungen': 'Schutzmaßnahmen für personenbezogene Daten',
    '/browser/privacy-policy': 'Protective measures for personal data',
    '/browser/nutzungsbedingungen': 'Bedingungen für die Hinterlegung, den Zugang und die Verwendung von Daten',
    '/browser/terms-of-use': 'Conditions for the deposit, access, and use of data',
    '/browser/ueber-arche': 'Erfahren Sie mehr über unsere Services',
    '/browser/about-arche': 'Learn more about our services',
    '/browser/technical-setup': 'Software components, client libraries, dissemination services and storage procedures',
    '/browser/technischer-aufbau': 'Softwarekomponenten, Client-Bibliotheken, Verbreitungsservices und Speicherverfahren',
    '/browser/api-access': 'Interfaces for programmatic search and query of ARCHE data',
    '/browser/api-zugriff': 'Schnittstellen für die programmgesteuerte Suche und Abfrage der ARCHE-Daten',
    '/browser/de/weiterfuehrende-informationen': 'Zur Vertiefung',
    '/browser/de/einreichungsprozess': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/einreichungsprozess': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/de/dateinamen-formate-metadaten': 'Daten richtig vorbereiten',
    '/browser/de/datenuebergabevertrag': 'Rechtliche Vereinbarung zwischen ARCHE und Datengebenden',
    '/browser/de/ressourcen-einreichen': 'Erfahren Sie mehr über die Dateneinreichung',
    '/browser/de/sammlungsstrategie': 'Sammlungsbereich, Evaluation und Speicherdauer',
    '/browser/de/collection-policy': 'Scope of collections, evaluation, and storage duration',
    '/browser/de/konservierungsrichtlinien': 'Archivierung, Wartung und Risikomanagement',
    '/browser/de/preservation-policy': 'Archiving, maintenance and risk management',
    '/browser/de/datenschutzbestimmungen': 'Schutzmaßnahmen für personenbezogene Daten',
    '/browser/de/privacy-policy': 'Protective measures for personal data',
    '/browser/de/nutzungsbedingungen': 'Bedingungen für die Hinterlegung, den Zugang und die Verwendung von Daten',
    '/browser/de/ueber-arche': 'Erfahren Sie mehr über unsere Services',
    '/browser/de/technischer-aufbau': 'Softwarekomponenten, Client-Bibliotheken, Verbreitungsservices und Speicherverfahren',
    '/browser/de/api-zugriff': 'Schnittstellen für die programmgesteuerte Suche und Abfrage der ARCHE-Daten',
} %}

{% set pdf_urls = {
    '/browser/deposition-agreement': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/DepositionAgreement/ARCHE_DepositionAgreement.pdf',
    '/browser/collection-policy': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/CollectionPolicy/ARCHE_CollectionPolicy.pdf',
    '/browser/preservation-policy': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/PreservationPolicy/ARCHE_PreservationPolicy.pdf',
    '/browser/de/deposition-agreement': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/DepositionAgreement/ARCHE_Datenuebergabevertrag.pdf',
    '/browser/de/datenuebergabevertrag': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/DepositionAgreement/ARCHE_Datenuebergabevertrag.pdf',
    '/browser/de/collection-policy': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/CollectionPolicy/ARCHE_Sammlungsstrategie.pdf',
    '/browser/de/sammlungsstrategie': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/CollectionPolicy/ARCHE_Sammlungsstrategie.pdf',
    '/browser/de/preservation-policy': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/PreservationPolicy/ARCHE_Konservierungsrichtlinen.pdf',
    '/browser/de/konservierungsrichtlinien': 'https://raw.githubusercontent.com/acdh-oeaw/arche-static-text/main/PreservationPolicy/ARCHE_Konservierungsrichtlinen.pdf'
} %}

{% set currentUrl = path('<current>') %}
{% set display_text = url_texts[currentUrl] | default('') %}
{% set pdfHeaders = ['/browser/deposition-agreement', '/browser/de/datenuebergabevertrag', '/browser/de/sammlungsstrategie',
'/browser/collection-policy', '/browser/de/konservierungsrichtlinien', '/browser/preservation-policy'] %}

{% set noLogoHeaders = ['/browser/de/datenschutzbestimmungen', '/browser/privacy-policy', '/browser/terms-of-use', 
'/browser/de/nutzungsbedingungen', '/browser/de/ueber-arche', '/browser/about-arche'] %}

<main class="container-fluid cover pages-hero-section">

    <div class="row h-100">
        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters character-man align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/Dante_sit_pc.svg" alt="ARCHE Dante"  />
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 hero-title-container">
            <div class="text-center">
                {% if currentUrl == '/browser/deposition-process' %}
                    <h1 class="section-header-title">{{ "Deposit Resources"|trans }}</h1>
                {% elseif currentUrl == '/browser/de/einreichungsprozess' %}   
                    <h1 class="section-header-title">{{ "Ressourcen einreichen"|trans }}</h1>
                {% else %}
                    <h1 class="section-header-title">{{ node.title.value }}</h1>
                {% endif %}

                <span class="hero-small-text">{{ display_text }}</span>
            </div>
            <div class="pb-1 pt-2"></div>
            <div class="hero-home-logos">
                {% if currentUrl in pdfHeaders %}
                    {% set pdf_url = pdf_urls[currentUrl] | default('') %}
                    <a href="{{ pdf_url }}" target="_blank" class="btn btn-arche-blue">{{ "Download PDF"|trans }}</a>                 
                {% elseif currentUrl in noLogoHeaders %}       
                    <br>
                {% else %}   
                    <a href="https://doi.org/10.34894/SNEQ7T" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/core_trust_seal_64.png" height="32px" alt="Core Trust Seal" /></a>
                    <a href="https://doi.org/10.34733/doc-105" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/clarin_b_centre_72.png"  height="32px" alt="CLARIN B-centre" /></a>
                    {% endif %}
            </div>
        </div>

        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters align-self-end">

        </div>

    </div>

</main>
