<main class="container-fluid cover home-hero-section h-100">

    <div class="row h-100 pb-5">
        <div class="col-4 header-characters character-man align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/dante_pc.png" alt=""  />

        </div>

        <div class="col-4">
            <div class="text-center">
                <p class="section-header-title-small">{{ "SEARCH NOW"|trans }}</p>
                <p class="section-header-title">{{ "Discover Resources"|trans }}</p>
                <span class="hero-small-text">{{ "ARCHE (A Resource Centre for the HumanitiEs) is a service aimed at offering stable and persistent hosting as well as dissemination of digital research data."|trans }}
                </span>

            </div>
            <div class="pb-1 pt-2">
                <form class="d-flex" action="/browser/discover" method="post">
                    <div class="input-group">
                        <input type="search" class="form-control hero-search-field" placeholder="{{ "Find resources"|trans }}..." aria-label="Search">
                        <button class="btn hero-search-button" type="submit"><img class="img-fluid" src="{{ base_path ~ directory }}/images/common/search_icon.png" alt="Search"  /></button>
                    </div>
                </form>


            </div>
            <div class="hero-home-logos">
                <img src="{{ base_path ~ directory }}/images/partner-logos/CoreTrustSeal_32.png" />
                <img src="{{ base_path ~ directory }}/images/partner-logos/clarin-b-centre-transparent_32.png" />
            </div>
        </div>

        <div class="col-4 header-characters character-woman align-self-end">
            <img class="img-fluid" src="{{ base_path ~ directory }}/images/common/nora.png" alt=""  />

        </div>

    </div>

</main>